
<p class="intro">Based from <b><a href="https://www.hidabroot.org/video/63035" target="_blank">Hidabroot</a></b><p>
  <div class="contact">
    <b><a routerLink="/contact" routerLinkActive="active">contactUs</a></b>
  </div>
  <div class="container" *ngIf="moviesList.length >0">
    <div class="movie-card" *ngFor="let bigMovies of moviesList; index as i">
      <div class="movie-header">
        <div class="header-icon-container">
          <img src="{{bigMovies.PicMovie}}" />
          <i class="material-icons header-icon"></i>
        </div>
      </div><!--movie-header-->
      <div class="movie-content">
        <div class="movie-content-header">
          <h3 class="movie-title">{{bigMovies.MovieName}}</h3>
          <div class="imax-logo"></div>
        </div>
        <div class="information">
          <label class="description-movie">{{bigMovies.DescriptionMovie}}</label><!--DescriptionMovie-->
          <label class="movie-information">{{bigMovies.MovieInformation}}</label><!--MovieInformation-->
        </div>
        <div class="movie-info">
          <div class="info-section">
            <label>Date & Time</label>
            <span>{{movie2Hall[i].ShowTime}}</span>
          </div><!--date,time-->
          <div class="info-section">
            <label>Screen</label>
            <span>{{listHalls[i].screenSize}}</span>
          </div><!--screen-->
          <div class="info-section">
            <label>Chair Numbers</label>
            <span>{{listHalls[i].chairNumbers}}</span>
          </div><!---->
          <div class="info-section">
            <label>Hall ID</label>
            <span>{{listHalls[i].HallID}}</span>
          </div><!--HallID-->
        </div>
      </div><!--movie-content-->
    </div><!--movie-card-->
  </div><!--container-->
  <!--search-bar-->
  <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
    <div class="row">
      <input class="flipkart-navbar-input col-xs-11" type="text" placeholder="Search for Movies, Time and more" name="Search"
             [(ngModel)]="searchString" (ngModelChange)="onSearchChange($event, searchString)">
      <button class="flipkart-navbar-button col-xs-1">
        <svg width="15px" height="15px">
          <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
        </svg>
      </button>
      <div>
        <ul>
          <li *ngFor="let c of moviesDisplay | filter : searchString">
            {{c.MovieName}}
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <b>
        Copyright &copy; eliyahu dadia
      </b>
    </div>
  </div>

